/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(to top, white, #e1cfff44, #6e42c12f);
  margin: none;
  overflow-x: hidden;
  overflow-y: auto; /* Allows vertical scrolling */
}

html,
body {
  min-height: 100%;
}
